# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite

# In some enviroments it's necessary to
# set the RewriteBase to:
#
# RewriteBase /

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# block all files in the site folder from being accessed directly
# except for requests to plugin assets files
#RewriteRule ^assets/plugins/([a-zA-Z0-9\.\-_%=]+)/(.*)$ site/plugins/$1/assets/$2 [L,N]
#RewriteCond $1 !^plugins/[a-zA-Z0-9\.\-_%=]+/assets/.*
RewriteRule ^site/(.*) index.php [L]

# block direct access to kirby and the panel sources
RewriteRule ^(kirby|panel\/app|panel\/tests)/(.*) index.php [L]

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>

# Additional recommended values
# Remove comments for those you want to use.
#
# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on

# BEGIN Compress text files
<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
  AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
  AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
  AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
  AddOutputFilterByType DEFLATE font/truetype font/opentype
</ifModule>
# END Compress text files

# BEGIN Expire headers
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 5 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>
# END Expire headers

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>
# END Cache-Control Headers

# BEGIN Turn ETags Off
FileETag None
# END Turn ETags Off

# Permanent URL redirects
RewriteEngine on
Redirect 301 /uber-georg-obermayr https://www.georgobermayr.com/about-georg-obermayr
Redirect 301 /is-lorem-ipsum-really-evil https://www.georgobermayr.com/articles/is-lorem-ipsum-really-evil
Redirect 301 /the-future-of-media-production https://www.georgobermayr.com/articles/the-future-of-media-production
Redirect 301 /about-layout-applications-for-content-first https://www.georgobermayr.com/articles/about-layout-applications-for-content-first
Redirect 301 /pladoyer-fur-einen-neuen-grundkonsens-im-publishing https://www.georgobermayr.com/articles/the-future-of-media-production
Redirect 301 /building-multichannel-experiences-with-the-content-topic-wheel https://www.georgobermayr.com/articles/building-multichannel-experiences-with-the-content-topic-wheel
Redirect 301 /agiles-publishing-jetzt-als-video2brain-videotraining https://www.georgobermayr.com/category/agile-publishing
Redirect 301 /setting-the-stage-for-agile-publishing-with-a-war-room https://www.georgobermayr.com/articles/setting-the-stage-for-agile-publishing-with-a-war-room
Redirect 301 /are-we-on-the-right-track-with-todays-digital-publishing https://www.georgobermayr.com/articles/are-we-on-the-right-track-with-todays-digital-publishing
Redirect 301 /vortrag-bei-bookmarks-2014 https://www.georgobermayr.com/articles/are-we-on-the-right-track-with-todays-digital-publishing
Redirect 301 /kolumne-fur-den-publisher-es-geht-um-den-inhalt https://www.georgobermayr.com/category/content-architecture
Redirect 301 /page/2 https://www.georgobermayr.com/
Redirect 301 /impressum https://www.georgobermayr.com/imprint
Redirect 301 /agiles-publishing-das-momentum-halt-an https://www.georgobermayr.com/category/agile-publishing
Redirect 301 /agiles-publishing-in-zahlen https://www.georgobermayr.com/category/agile-publishing
Redirect 301 /da-ist-es-agiles-publishing https://www.georgobermayr.com/category/agile-publishing
Redirect 301 /das-exponentielle-zeitalter https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /publisher-making-of-pdfx-ready-app https://www.georgobermayr.com/
Redirect 301 /quark-kauft-pressrun-xml-trifft-html5 https://www.georgobermayr.com/
Redirect 301 /retina-displays-und-die-medienproduktion https://www.georgobermayr.com/
Redirect 301 /lessons-learned-im-digital-publishing https://www.georgobermayr.com/
Redirect 301 /vortrag-am-fogra-cms-symposium-2014 https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-serie-teil-5-fazit https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-in-cleverprinting-4-crossmedia https://www.georgobermayr.com/
Redirect 301 /zukunftswerkstatt-dynamic-publishing-teil-2 https://www.georgobermayr.com/2
Redirect 301 /zukunftswerkstatt-dynamic-publishing-fur-beyond-print-de https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-serie-wird-international https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-in-cleverprinting-3-redaktionssysteme https://www.georgobermayr.com/
Redirect 301 /pdfx-ready-leitfaden-als-ipad-fassung-verfugbar https://www.georgobermayr.com/
Redirect 301 /pdfx-ready-v2-workflow-ausgerollt https://www.georgobermayr.com/
Redirect 301 /cleverprinting-handbuch-2011-xpress-kapitel-veroffentlicht https://www.georgobermayr.com/
Redirect 301 /pdfx-ready-leitfaden-veroffentlich https://www.georgobermayr.com/
Redirect 301 /v13-fast-alles-neu-bei-pdfx-ready https://www.georgobermayr.com/
Redirect 301 /xpress-81-native-transparenz https://www.georgobermayr.com/
Redirect 301 /neue-xpress-settings-von-pdfx-ready-v12 https://www.georgobermayr.com/
Redirect 301 /prokomreport-wo-steht-tablet-publishing https://www.georgobermayr.com/
Redirect 301 /agiles-publishing-events-im-oktober-und-november https://www.georgobermayr.com/
Redirect 301 /medienproduktion-das-ende-des-wasserfalls https://www.georgobermayr.com/
Redirect 301 /kickstarter-agile-publishing https://www.georgobermayr.com/
Redirect 301 /page/3 https://www.georgobermayr.com/
Redirect 301 /redaktionssysteme-in-der-marketingabteilung-teil-2 https://www.georgobermayr.com/
Redirect 301 /redaktionssysteme-in-der-marketingabteilung-teil-1 https://www.georgobermayr.com/
Redirect 301 /cleverprinting-handbuch-2009-erschienen https://www.georgobermayr.com/
Redirect 301 /das-xpress-standardwerk-ist-draussen https://www.georgobermayr.com/
Redirect 301 /cjk-typografie-in-indesign-cs3-und-xpress-8 https://www.georgobermayr.com/
Redirect 301 /xpress-8-pantone-goe-und-pdfx-1a-vertragen-sich-nicht https://www.georgobermayr.com/
Redirect 301 /neues-bei-pdfx-ready https://www.georgobermayr.com/
Redirect 301 /update-fur-farbmanagement-publikation-des-bvdm https://www.georgobermayr.com/
Redirect 301 /cleverprinting-newsletter-quark-appstudio https://www.georgobermayr.com/
Redirect 301 /seminar-ankundigung-mit-quarkxpress-aufs-ipad https://www.georgobermayr.com/
Redirect 301 /tablet-publishing-bericht-von-der-ifra-expo-2010 https://www.georgobermayr.com/
Redirect 301 /was-bringt-der-quark-interactive-designer https://www.georgobermayr.com/
Redirect 301 /warum-xmpmetadaten-die-zukunft-gehort https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-in-der-dhbw https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-in-cleverprinting-2-web-to-print https://www.georgobermayr.com/
Redirect 301 /dynamic-publishing-cleverprinting-newsletter-teil-1 https://www.georgobermayr.com/
Redirect 301 /artikel-im-deutschen-drucker https://www.georgobermayr.com/
Redirect 301 /so-tickt-vektor-cms-in-xpress-7 https://www.georgobermayr.com/
Redirect 301 /quark-artikel-zum-farbmanagement https://www.georgobermayr.com/
Redirect 301 /neue-xpress-stile-von-pdfx-ready https://www.georgobermayr.com/
Redirect 301 /cleverprinting-ratgeber-2008-erschienen https://www.georgobermayr.com/
Redirect 301 /faq-xpress-7-cms-quelleneinstellungen-von-pdfx-ready https://www.georgobermayr.com/
Redirect 301 /page/4 https://www.georgobermayr.com/
Redirect 301 /cleverprinting-newsletter-synchronisierte-objekte https://www.georgobermayr.com/
Redirect 301 /neue-basis-job-jackets-furs-cms-setup https://www.georgobermayr.com/
Redirect 301 /transparenz-reduzierung-in-xpress-72 https://www.georgobermayr.com/
Redirect 301 /artikel-fur-den-cleverprinting-newsletter https://www.georgobermayr.com/
Redirect 301 /pdfx-plus-prufungen-in-xpress-7 https://www.georgobermayr.com/
Redirect 301 /cms-setup-wo-liegen-die-probleme-beim-einsatz-der-job-jackets https://www.georgobermayr.com/
Redirect 301 /faq-seltsame-farbmanagement-meldung-beim-offnen-von-projekten https://www.georgobermayr.com/
Redirect 301 /wie-ist-das-farbmanagement-in-den-job-jackets-konfiguriert https://www.georgobermayr.com/
Redirect 301 /versuch-eines-cms-setups-in-quarkxpress-7 https://www.georgobermayr.com/
Redirect 301 /faq-die-farbphilosophie-von-pdfx-ready https://www.georgobermayr.com/
Redirect 301 /gracol-und-iso-tc-130-arbeiten-an-universellen-charakterisierungsdaten https://www.georgobermayr.com/
Redirect 301 /test-farbmanagement-settings-fur-quarkxpress-7 https://www.georgobermayr.com/
Redirect 301 /ressourcen-sharing-mit-job-jackets https://www.georgobermayr.com/
Redirect 301 /pdf-xmp-jdf-dreieck-zukunftiger-workflows https://www.georgobermayr.com/
Redirect 301 /index.php/quark-artikel-zum-farbmanagement/logo-quark https://www.georgobermayr.com/
Redirect 301 /farbe-rein-farbe-raus-das-neue-farbmanagement-in-quarkxpress-7 https://www.georgobermayr.com/
Redirect 301 /page/5 https://www.georgobermayr.com/
Redirect 301 /index.php/ressourcen-sharing-mit-job-jackets/cleverprinting https://www.georgobermayr.com/
Redirect 301 /faq-aufspuren-von-transparenzen-in-quarkxpress-7 https://www.georgobermayr.com/
Redirect 301 /korrekturen-am-cms-defaultjacketxml https://www.georgobermayr.com/
Redirect 301 /cms-setup-wo-liegen-die-vorteile-beim-einsatz-der-job-jackets https://www.georgobermayr.com/
Redirect 301 /georg-obermayr-in-der-page https://www.georgobermayr.com/
Redirect 301 /anleitung-zur-erstellung-eines-grafischen-job-jackets https://www.georgobermayr.com/
Redirect 301 /neue-workflows-mit-job-jackets-in-quarkxpress-7 https://www.georgobermayr.com/
Redirect 301 /index.php/test-farbmanagement-settings-fur-quarkxpress-7/beispiel-job-jacket-mit-farbmanagement-presets-auf-basis-des-pso/ https://www.georgobermayr.com/
Redirect 301 /ankundigung-beta-test-quark7 https://www.georgobermayr.com/
Redirect 301 /index.php/quark-artikel-zum-farbmanagement/qxp_colormanager https://www.georgobermayr.com/
Redirect 301 /index.php/farbe-rein-farbe-raus-das-neue-farbmanagement-in-quarkxpress-7/was-macht-also-quarkxpress-mit-meinen-bildern-und-wie-wirken-die-einstellungen-zusammen/ https://www.georgobermayr.com/
Redirect 301 /page/6 https://www.georgobermayr.com/
Redirect 301 /index.php/ressourcen-sharing-mit-job-jackets/image006 https://www.georgobermayr.com/
Redirect 301 /test-job-jacket-fur-quarkxpress-7 https://www.georgobermayr.com/
Redirect 301 /page/7 https://www.georgobermayr.com/
Redirect 301 /page/8 https://www.georgobermayr.com/
Redirect 301 /page/9 https://www.georgobermayr.com/
Redirect 301 /category/agile-publishing https://www.georgobermayr.com/category/agile-publishing
Redirect 301 /category/digital-publishing https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/contentstrategy https://www.georgobermayr.com/category/content-architecture
Redirect 301 /category/dynamic-publishing https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/multichannel-publishing https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/printlayouting https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/printproduction https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/printproduction/colormanagement https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/printproduction/pdfx https://www.georgobermayr.com/category/multichannel-technology
Redirect 301 /category/storytelling https://www.georgobermayr.com/category/content-architecture
Redirect 301 /category/userexperiencedesign https://www.georgobermayr.com/category/content-architecture
