.about__header {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: repeat( 24, 1fr );

  padding-top: 3rem;
  margin-bottom: 4.5rem;

  & > h1 {
    grid-column: 2 / 20;

    margin-top: 5rem;
    margin-bottom: -4.5rem;

    font-size: $font-size-normal;
    line-height: 1.2;
    color: $black;

    @include breakpoint($breakpoint-md) {
      grid-column: 5 / 14;
    }

    &::before {
      display: block;
      content: "";
      width: 50%;
      height: 1rem;
      background-color: $black;
      margin-bottom: 1rem;
    }
  }
}

.about__intro,
.about__contact {
  display: grid;
  grid-template-columns: repeat( 24, 1fr );

  padding-top: 5rem;

  & > p,
  & > h3 {
    grid-column: 2 / 24;

    line-height: 1.5;
    margin-bottom: $font-size-normal;

    @include breakpoint($breakpoint-md) {
      grid-column: 6 / 18;
    }
  }

  & > p {
    font-size: $font-size-normal * 0.8;

    @include breakpoint($breakpoint-md) {
      font-size: unset;
    }
  }
}

.about__contacts {
  grid-column: 2 / 24;

  @include breakpoint($breakpoint-md) {
    grid-column: 6 / 18;

    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat( 5, 1fr );
  }

  & > a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5rem;
    margin-bottom: 2rem;

    border: 0.1rem solid $primary-color;

    font-family: $font-family-sans;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $primary-color;

    @include breakpoint($breakpoint-md) {
      height: 10rem;
    }

    &:hover {
      text-decoration: underline;
      background-color: $background-color;
      border-color: $background-color;
    }
  }
}

.about__talks,
.about__publications {
  display: grid;
  grid-template-columns: repeat( 24, 1fr );

  & > h2,
  & > ul {
    grid-column: 2 / 24;

    margin-bottom: 3rem;

    @include breakpoint($breakpoint-md) {
      grid-column: 6 / 18;

      margin-top: 7rem;
    }
  }

  & > ul > li {
    margin-bottom: 2rem;
    line-height: 1.5;

    @include breakpoint($breakpoint-md) {

      &::before {
        content: "—";
        margin-right: 1rem;
      }
    }
  }

  p {
    line-height: 1.2;
  }
}

.talks__regular,
.talk__featured,
.publication__featured,
.publications__regular {

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  span {
    position: relative;
    bottom: 0.2rem;

    padding: 0.1rem 0 0.2rem 0.2rem;
    margin-right: 0.5rem;

    background-color: $background-color;

    font-family: $font-family-sans;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }
}

.talk__featured,
.publication__featured {
  grid-column: 2 / 24;

  margin-bottom: 3rem;

  @include breakpoint($breakpoint-md) {
    grid-column: auto / span 5;

    padding: 0 1rem;

    &:nth-of-type( 4n + 1 ) {
      grid-column-start: 3;
    }
  }

  img {
    width: 100%;
  }
}

.talks__regular,
.publications__regular {

  & > li > strong {
    font-family: $font-family-sans;
    font-weight: $font-weight-bold;
    color: $primary-color;
  }

  @include breakpoint($breakpoint-md) {

    & li {
      text-indent: -3rem;
      margin-left: 3rem;
    }
  }
}

.about__ctaLink {
  text-decoration: underline;
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}
