.article {
  display: grid;
  grid-template-columns: repeat( 24, 1fr );

  padding-top: 5rem;

  & > p,
  & > ul,
  & > ol,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    grid-column: 2 / 24;

    @include breakpoint($breakpoint-md) {
      grid-column: 6 / 18;
    }
  }

  & > p,
  & > ul,
  & > ol,
  figcaption {
    line-height: 1.5;
    margin-bottom: $font-size-normal;
    font-size: $font-size-normal * 0.8;

    @include breakpoint($breakpoint-md) {
      font-size: unset;
    }
  }

  a:not( .article__recommendation ) {
    text-decoration: underline;

    &:hover {
      color: $primary-color;
    }
  }

  & > ul > li {
    text-indent: -3rem;
    margin-left: 3rem;

    &::before {
      content: "—";
      margin-right: 1.5rem;
    }
  }

  & > ol > li {
    margin-left: 2rem;
    list-style: decimal;
  }

  figure {
    grid-column: 2 / 24;

    margin-top: 2rem;
    margin-bottom: 2rem;

    @include breakpoint($breakpoint-md) {
      grid-column: 5 / 20;

      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }

  // Responsive video iFrame
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;

    margin-top: 0;
    margin-bottom: 2rem;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  img {
    margin-bottom: 2rem;
  }

  figcaption {
    font-style: italic;
    line-height: 1.5;
    text-indent: initial;
  }

  & > blockquote {
    grid-column: 5 / 20;

    margin-top: 1rem;
    margin-bottom: 3rem;

    border-top: 0.1rem solid $primary-color;
    border-bottom: 0.1rem solid $primary-color;

    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    color: $primary-color;

    font-family: $font-family-sans;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium * 0.75;

    @include breakpoint($breakpoint-md) {
      font-size: $font-size-medium;
    }
  }
}

.article__header {
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: repeat( 24, 1fr );

  margin-bottom: $font-size-medium;

  @include breakpoint($breakpoint-md) {
    margin-bottom: $font-size-large + 4rem;
  }

  & > h1 {
    grid-column: 2 / 20;
    margin-bottom: - $font-size-large * 0.5;
    font-size: $font-size-large * 0.5;

    hyphens: auto;

    @include breakpoint($breakpoint-md) {
      grid-column: 6 / 20;
      margin-bottom: - $font-size-large;
      font-size: $font-size-large;
    }
  }

  & > img {
    grid-column: 21 / 25;
    position: absolute;
    bottom: 0;
  }
}

.article__date {
  grid-column: 2 / 20;

  margin-top: 9.5rem;
  margin-bottom: 2rem;

  border-bottom: 1rem solid $primary-color;

  padding-bottom: 0.2rem;

  color: $primary-color;

  font-family: $font-family-sans;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  text-align: right;
  text-transform: uppercase;

  @include breakpoint($breakpoint-md) {
    grid-column: 5 / 11;

    margin-top: 19.5rem;
  }
}

.article__recommendation {
  grid-column: 2 / 24;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $background-color;

  margin: 5rem 0;

  padding: 1rem;

  @include breakpoint($breakpoint-md) {
    grid-column: 5 / 15;
  }

  & > h3 {
    font-size: $font-size-medium;
    color: $black;

    & > span {
      display: block;

      color: $primary-color;
      text-transform: uppercase;
    }
  }

  & > p {
    font-family: $font-family-sans;
    line-height: 1.2;
  }

  &:hover {

    & > h3 {
      text-decoration: underline;
    }
  }
}

.article__author {
  grid-column: 2 / 24;

  color: $primary-color;
  font-size: $font-size-small;
  line-height: 1.5;

  font-family: $font-family-sans;

  @include breakpoint($breakpoint-md) {
    grid-column: 15 / 22;

    margin: 5rem 0;
    padding-left: 1.5rem;
  }
}

.article__teaser {
  display: block;
  border-bottom: 0.1rem solid $primary-color;

  & > h4 {
    padding-top: 3rem;
    margin-bottom: 1rem;

    & > span {
      display: block;
      margin-bottom: 1rem;
      font-size: 60%;
      text-transform: uppercase;

      @include breakpoint($breakpoint-md) {
        font-size: 40%;
      }
    }

    @include breakpoint($breakpoint-md) {
      margin-bottom: 2rem;
      font-size: $font-size-medium;
    }
  }

  & > p {
    padding-bottom: 3rem;
    line-height: 1.2;

    font-size: $font-size-normal * 0.8;

    @include breakpoint($breakpoint-md) {
      font-size: unset;
    }

    & > strong {
      color: $primary-color;
    }
  }

  &:hover {

    & > h4,
    & > p > strong {
      text-decoration: underline;
    }
  }

  &:first-of-type {
    margin-top: 5rem;
  }
}

.article__teaser--essential {
  background-color: $background-color;
}
