/*
 *
 * typography.scss
 * Basic typographic definitons
 *
 */

$font-family-sans:  "Raleway", sans-serif;
$font-family-serif: "Alegreya", serif;

$font-weight-normal: 400;
$font-weight-bold:   900;

// Reset REM factor
$font-size-basis:   62.5%;

// Now all REM values equal pixel divided by 10
$font-size-sm:     1.2rem;
$font-size-normal: 1.6rem;
$font-size-lg:     2.6rem;
$font-size-xl:     4.6rem;
